# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/learn_opengl/v16/.suo

.vs/learn_opengl/v16/Browse.VC.db

.vs/learn_opengl/v16/Browse.VC.db-shm

.vs/learn_opengl/v16/Browse.VC.db-wal

.vs/learn_opengl/v16/Browse.VC.opendb

.vs/learn_opengl/v16/ipch/AutoPCH/ffebf4bc2da2f038/MAIN.ipch

bin/intermediates/x64/Debug/learn_opengl.exe.recipe

bin/intermediates/x64/Debug/learn_opengl.log

bin/intermediates/x64/Debug/learn_opengl.tlog/CL.command.1.tlog

bin/intermediates/x64/Debug/learn_opengl.tlog/CL.read.1.tlog

bin/intermediates/x64/Debug/learn_opengl.tlog/CL.write.1.tlog

bin/intermediates/x64/Debug/learn_opengl.tlog/learn_opengl.lastbuildstate

bin/intermediates/x64/Debug/learn_opengl.tlog/link.command.1.tlog

bin/intermediates/x64/Debug/learn_opengl.tlog/link.read.1.tlog

bin/intermediates/x64/Debug/learn_opengl.tlog/link.write.1.tlog

bin/intermediates/x64/Debug/vc142.idb

bin/intermediates/x64/Debug/vc142.pdb

bin/x64/Debug/learn_opengl.ilk

bin/x64/Debug/learn_opengl.pdb

#learn_opengl.sln

#learn_opengl/learn_opengl.vcxproj

#learn_opengl/learn_opengl.vcxproj.filters

#learn_opengl/learn_opengl.vcxproj.user

*.ipch
